@using LabUI.Controllers

@{
    
}
@model ILogger<HomeController>
        
        <h1>Лабораторная работа 6</h1>
       
        
        <form>
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" name="checkbox1" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Чек-бокс 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="checkbox2" type="checkbox" id="gridCheck2">
                        <label class="form-check-label" for="gridCheck2">
                            Чек-бокс 2
                        </label>
                    </div>
                </div>
            </div>


           

            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <select class="from-select " name="selDemo">
                        <option value="1">Item 1</option>
                        <option value="2">Item 2</option>
                        <option value="3">Item 3</option>
                    </select>
                </div>
            </div>

           
        </form>
